<h2>Reactive:<small>Switches</small></h2>
<hr>


<form [formGroup]="switchForm" (submit)="saveInfo()">

  <!-- Radios -->

  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Genre</label>
    <div class="col-sm-9">

      <div class="form-check">
        <input class="form-check-input"
               type="radio"
               value="M"
               formControlName="genre"
               id="radioMale">

        <label class="form-check-label" for="flexRadioDefault1">
             Male
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input"
               type="radio"
               value="F"
               formControlName="genre"
               id="radioFemale">
        <label class="form-check-label" for="flexRadioDefault2">
          Female
        </label>
      </div>

    </div>

  </div>

  <!-- Switches -->

  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Notifications</label>
    <div class="col-sm-9">

      <div class="form-check form-switch">
        <input class="form-check-input"
               type="checkbox"
               role="switch"
               formControlName="notif"
               id="flexSwitchCheckChecked">
        <label class="form-check-label" for="flexSwitchCheckChecked">I would like to receive notifications</label>
      </div>

    </div>
  </div>

    <!-- Checks -->

    <div class="row mb-3">
      <label class="col-sm-3 col-form-label">Terms & Conditions</label>
      <div class="col-sm-9">

        <div class="form-check">
          <input class="form-check-input"
                 type="checkbox"
                 formControlName="conditions"
                 id="flexCheckDefault"
                 required>
          <label class="form-check-label" for="flexCheckDefault">
            Agree
          </label>
        </div>

      </div>
    </div>

      <!-- Button -->

      <div class="row">
        <div class="col">
          <button class="btn btn-primary float-end"
                  type="submit">
            Save Info
          </button>
        </div>
      </div>
</form>


<h5>Form value</h5>
<pre>{{ switchForm.value | json }}</pre>
<br>

<h5>Person</h5>
<pre>{{ person | json }}</pre>
<br>

<h5>Valid</h5>
<pre>{{ switchForm.valid | json }}</pre>
<br>
