<h2>Reactive: <small>Basics</small></h2>
<hr>

<div class="row">
  <div class="col">
    <form autocomplete="off" [formGroup]="myForm">

        <!--Product Input-->
          <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Product</label>
            <div class="col-sm-9">

              <input type="text"
                     class="form-control"
                     formControlName="name"
                     placeholder="Product Name"
                     required>

              <span class="form-text text-danger">
                     It must contain at least 3 letters
              </span>
            </div>
          </div>

        <!--Price Input-->
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">Price</label>
          <div class="col-sm-9">
            <input type="number"
                   class="form-control"
                   placeholder="Product Price"
                   required>
              <span class="form-text text-danger">
                      The price should be $1 or higher
              </span>
          </div>
        </div>

         <!--Stock Field-->
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">Stocks</label>
          <div class="col-sm-9">
            <input type="number"
                   class="form-control"
                   placeholder="Product Stocks"
                   required>
          </div>
        </div>

         <div class="row">
          <div class="col">
            <button type="submit"
                    class="btn btn-primary float-end">
              Save Info
            </button>
          </div>
         </div>

    </form>
  </div>
</div>

<div class="row">
  <div class="col">

    <span>Valid</span>
    <pre>{{ myForm.valid }}</pre>

    <span>Pristine</span>
    <pre>{{ myForm.pristine }}</pre>

    <span>Touched</span>
    <pre>{{ myForm.touched }}</pre>

    <span>Value</span>
    <pre>{{ myForm.value | json }}</pre>

  </div>
</div>

