<h2>Reactive: <small>Dynamics</small></h2>
<hr>


<form autocomplete="off"
      [formGroup]="gameForm"
      (ngSubmit)="saveFormInfo()">

      <!--Name-->

  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Name</label>

    <div class="col-sm-9">
      <input type="text"
            class="form-control"
            placeholder="User's name"
            formControlName="user"
            required>
            <span *ngIf="showErrorMessage('user')"
               class="form-text text-danger">
              This field should have at least 3 characters
            </span>
    </div>
  </div>


        <!--Add Game-->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Add Game</label>
      <div class="col-sm-9">
        <div class="input-group">
          <input class="form-control"
                placeholder="Add favorite game"
                [formControl]="newGame"
                (keyup.enter)="addGame()">
            <button class="btn btn-outline-warning"
                    type="button"
                    (click)="addGame()">
              Add New Game
            </button>
        </div>
      </div>
  </div>


    <!--Game List-->

  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Game List</label>

    <div class="col-sm-9" formArrayName="list">

      <div *ngFor="let game of listArr.controls; let i = index"
          class="input-group mb-1">

        <input class="form-control"
               [formControlName]="i">

        <button class="btn btn-outline-danger"
               type="button"
               (click)="deleteGame(i)">
         Delete Game
       </button>

      </div>



    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <button type="submit"
              class="btn btn-primary float-end">
        Save
      </button>
    </div>
  </div>


</form>


<span>Valid:</span>
<pre>{{ gameForm.valid }}</pre>
<br>

<span>Value:</span>
<pre>{{ gameForm.value | json }}</pre>


<!--
<span>Person</span>
<pre>{{ person | json }}</pre> -->
